<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="kizoomMenu" name="kizoom menu items" schema="schema/kizoomMenu.exsd"/>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="com.kizoom.plugin.wizard"
            name="Kizoom">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="com.kizoom.plugin.importWizard"
            name="Kizoom">
      </category>
   </extension>
   <extension
         id="com.kizoom.plugin.views"
         point="org.eclipse.ui.views">
      <category
            id="com.kizoom.plugin"
            name="Kizoom">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="com.kizoom.plugin.project.menu"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="com.kizoom.plugin.actions.KizoomActionsMenu"
               icon="icons/full/kizoom.png"
               id="com.kizoom.plugin.project.menu"
               label="&amp;Kizoom"
               menubarPath="additions"
               style="pulldown">
         </action>
         <visibility>
            <and>
               <objectState
                     name="open"
                     value="true">
               </objectState>
               <objectClass
                     name="org.eclipse.core.resources.IProject">
               </objectClass>
            </and>
         </visibility>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.kizoom.plugin.preferences.KizoomPreferencePage"
            id="com.kizoom.plugin.preferences.KizoomPreferencePage"
            name="Kizoom">
      </page>
   </extension>
   <extension
         id="com.kizoom.plugin.preferences"
         name="Kizoom Preferences"
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.kizoom.plugin.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="com.kizoom.plugin"
            name="Kizoom">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="com.kizoom.plugin.menu"
               label="&amp;Kizoom">
         </menu>
      </menuContribution>
   </extension>
</plugin>
