<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 <extension
       point="org.eclipse.ui.views">
    <category
          id="com.lambda.ydependencies"
          name="eCommerce">
    </category>
    <view
          category="com.lambda.ydependencies"
          class="com.lambda.ecommerce.dependencies.views.DependenciesView"
          icon="icons/obj16/hybris.png"
          id="com.lambda.ydependencies.views.DependenciesView"
          name="Dependencies">
    </view>
 </extension>
      <extension
            point="org.eclipse.ui.handlers">
         <handler
               class="com.lambda.ecommerce.dependencies.views.handler.ChangeLayout"
               commandId="com.lambda.ycore.views.platform.ChangeLayout">
         </handler>
         
      </extension>
 <extension
       point="org.eclipse.ui.perspectiveExtensions">
    <perspectiveExtension
          targetID="org.eclipse.jdt.ui.JavaPerspective">
       <view
             id="com.lambda.ydependencies.views.DependenciesView"
             ratio="0.5"
             relationship="right"
             relative="org.eclipse.ui.views.ProblemView">
       </view>
    </perspectiveExtension>
 </extension>
 <extension
       point="org.eclipse.ui.menus">
    <menuContribution
          locationURI="menu:org.eclipse.ui.main.menu">
       <menu
             id="com.lambda.plugin.menu"
             label="%menu.label"
             tooltip="%menu.tooltip">
       </menu>
    </menuContribution>
    <menuContribution
          allPopups="false"
          locationURI="toolbar:com.lambda.ycore.views.platform.DependenciesView">
       <command
             commandId="com.lambda.ycore.views.platform.ChangeLayout"
             icon="icons/obj16/hybris.png"
             label="Change Layout"
             style="push">
       </command>
    </menuContribution>
 </extension>
 <extension
       point="org.eclipse.ui.commands">
    <command
          id="com.lambda.ycore.views.platform.ChangeLayout"
          name="Change  Layout">
    </command>
 </extension>

</plugin>
