<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="com.lambda.ynature"
         name="%extension.name"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.lambda.plugin.YNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="com.lambda.plugin.importWizard"
            name="%category.name">
      </category>
      <wizard
            category="com.lambda.plugin.importWizard"
            class="com.lambda.plugin.wizards.ecommerce.ImportPlatformWizard"
            icon="icons/obj16/hybris.png"
            id="com.lambda.plugin.wizards.ecommerce.ImportPlatformWizard"
            name="%wizard.name">
         <description>
            %wizard.description
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="com.lambda.plugin.project.menu"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="com.lambda.plugin.actions.YActionsMenu"
               icon="icons/kizoom.png"
               id="com.lambda.plugin.project.menu"
               label="%action.label"
               menubarPath="additions"
               style="pulldown">
         </action>
         <visibility>
            <and>
               <objectState
                     name="open"
                     value="true">
               </objectState>
               <objectClass
                     name="org.eclipse.core.resources.IProject">
               </objectClass>
            </and>
         </visibility>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="com.lambda.plugin.wizard"
            name="%category.name.1">
      </category>
      <wizard
            category="com.lambda.plugin.wizard"
            class="com.lambda.plugin.wizards.ecommerce.NewExtensionWizard"
            hasPages="true"
            icon="icons/etool16/newfunctest_wiz.png"
            id="com.lambda.plugin.wizards.ecommerce.NewExtensionWizard"
            name="%wizard.name.0"
            project="true">
         <description>
            %wizard.description.0
         </description>
      </wizard>
      <wizard
            category="com.lambda.plugin.wizard"
            class="com.lambda.plugin.wizards.ecommerce.NewModuleWizard"
            hasPages="true"
            icon="icons/etool16/newfunctest_wiz.png"
            id="com.lambda.plugin.wizards.ecommerce.NewModuleWizard"
            name="%wizard.name.1"
            project="true">
         <description>
            %wizard.description.1
         </description>
      </wizard>
      <wizard
            category="com.lambda.plugin.wizard"
            class="com.lambda.plugin.wizards.impex.ImpexNewWizard"
            icon="icons/obj16/impex.gif"
            id="com.lambda.plugin.wizards.impex.ImpexNewWizard"
            name="%wizard.name.2">
         <description>
            %wizard.description.2
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="com.lambda.plugin.ui.ProjectLabelDecorator"
            id="com.lambda.plugin.yunit.decorator"
            label="%decorator.label"
            lightweight="true"
            state="true">
         <enablement>
            <and>
               <objectClass
                     name="org.eclipse.core.resources.IProject">
               </objectClass>
               <objectState
                     name="nature"
                     value="com.lambda.ynature">
               </objectState>
            </and>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.lambda.plugin.preferences.YPreferencePage"
            id="com.lambda.plugin.preferences.YPreferencePage"
            name="%page.name">
      </page>
      <page
            category="com.lambda.plugin.preferences.YPreferencePage"
            class="com.lambda.plugin.impex.preferences.ImpexPreferencePage"
            id="com.lambda.plugin.impex.preferences.ImpexPreferencePage"
            name="%page.name.0">
      </page>
      <page
            category="com.lambda.plugin.impex.preferences.ImpexPreferencePage"
            class="com.lambda.plugin.impex.preferences.SyntaxColoringPreferencePage"
            id="com.lambda.plugin.impex.preferences.SyntaxColoringPreferencePage"
            name="%page.name.2">
      </page>
      <page
            category="com.lambda.plugin.impex.preferences.ImpexPreferencePage"
            class="com.lambda.plugin.impex.preferences.MarkOccurrencesPreferencePage"
            id="com.lambda.plugin.impex.preferences.MarkOccurrencesPreferencePage"
            name="%page.name.3">
      </page>
      <page
            category="com.lambda.plugin.impex.preferences.ImpexPreferencePage"
            class="com.lambda.plugin.impex.preferences.ProblemsPreferencePage"
            id="com.lambda.plugin.impex.preferences.ProblemsPreferencePage"
            name="%page.name.4">
      </page>
   </extension>
   <extension
         id="com.lambda.plugin.preferences"
         name="%extension.name.0"
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.lambda.plugin.impex.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <!-- to support Java actions like Open Type from impex editor -->
   <extension
         point="org.eclipse.ui.actionSetPartAssociations">
      <actionSetPartAssociation
            targetID="org.eclipse.jdt.ui.JavaActionSet">
         <part
               id="com.lambda.plugin.impex.editor.ImpexEditor">
         </part>
      </actionSetPartAssociation>
   </extension>
      <extension
            point="org.eclipse.ui.bindings">
            <sequenceModifier
                  find="M1+M2"
                  platforms="cocoa,carbon"
                  replace="M2+M3">
            </sequenceModifier>
         <key
               commandId="com.lambda.plugin.impex.editor.actions.ToggleLineComment"
               contextId="org.eclipse.ui.contexts.window"
               schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
               sequence="M1+/">
         </key>
         <key
               commandId="com.lambda.plugin.impex.editor.actions.ToggleMarkOccurrences"
               contextId="org.eclipse.ui.contexts.window"
               schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
               sequence="M2+M3+O">
         </key>
      </extension>
      <extension
            point="org.eclipse.ui.commands">
         <command
               categoryId="org.eclipse.ui.category.textEditor"
               defaultHandler="com.lambda.plugin.impex.editor.actions.ToggleMarkOccurrencesAction"
               description="%command.description.toggleMarkOccurrences"
               id="com.lambda.plugin.impex.editor.actions.ToggleMarkOccurrences"
               name="%command.name.toggleMarkOccurrences">
            <state
                  class="org.eclipse.ui.handlers.RegistryToggleState"
                  id="org.eclipse.ui.commands.toggleState">
            </state>
         </command>
                  <command
               categoryId="org.eclipse.ui.category.textEditor"
               description="%command.description.toggleLineComment"
               id="com.lambda.plugin.impex.editor.actions.ToggleLineComment"
               name="%command.name.toggleLineComment">
         </command>
                  <command
                        id="com.lambda.ycore.views.platform.ChangeLayout"
                        name="Change  Layout">
                  </command>  
       </extension>
      <extension
            point="org.eclipse.ui.commandImages">
         <image
               commandId="com.lambda.plugin.impex.editor.actions.ToggleMarkOccurrences"
               disabledIcon="icons/dlcl16/mark_occurrences.gif"
               icon="icons/elcl16/mark_occurrences.gif">
         </image>
      </extension>
      <extension
            point="org.eclipse.ui.menus">
         <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
        	<menu
               id="com.lambda.plugin.menu"
               label="%menu.label"
               tooltip="%menu.tooltip">
         	</menu>
      	 </menuContribution>
         <menuContribution
               allPopups="false"
               locationURI="toolbar:com.lambda.ycore.views.platform.DependenciesView">
            <command
                  commandId="com.lambda.ycore.views.platform.ChangeLayout"
                  icon="icons/obj16/hybris.png"
                  label="Change Layout"
                  style="push">
            </command>
         </menuContribution>
      </extension>
      <extension
            point="org.eclipse.ui.handlers">
         <handler
               class="com.lambda.plugin.impex.editor.actions.ToggleLineCommentAction"
               commandId="com.lambda.plugin.impex.editor.actions.ToggleLineComment">
            <enabledWhen>
               <reference
                     definitionId="inImpexEditor">
               </reference>
            </enabledWhen>
         </handler>
      </extension>
      <extension
            point="org.eclipse.ui.editors">
         <editor
               class="com.lambda.plugin.impex.editor.ImpexEditor"
               contributorClass="com.lambda.plugin.impex.editor.actions.ImpexEditorActionContributor"
               extensions="impex"
               icon="icons/obj16/impex.gif"
               id="com.lambda.plugin.impex.editor.ImpexEditor"
               name="%editor.name">
            <contentTypeBinding
                  contentTypeId="com.lambda.plugin.impexFile">
            </contentTypeBinding>
         </editor>
      </extension>
      <extension
            point="org.eclipse.core.expressions.definitions">
         <definition
               id="inImpexEditor">
            <with
                  variable="activeEditorId">
               <equals
                     value="com.lambda.plugin.impex.editor.ImpexEditor">
               </equals>
            </with>
         </definition>
      </extension>
	<extension id="impexFileProblem" name="%Impex.marker.label" point="org.eclipse.core.resources.markers">
  		<super type="org.eclipse.core.resources.problemmarker" />
  		<!-- for annotations -->
    <super
          type="org.eclipse.core.resources.textmarker">
    </super> 
  			<persistent value="true" /> 
	</extension>
 <extension
       point="org.eclipse.core.contenttype.contentTypes">
    <content-type
          file-extensions="impex"
          id="com.lambda.plugin.impexFile"
          name="%content-type.name"
          priority="normal">
    </content-type>
 </extension>
 <!-- impex Type hyperlink detectors -->
 <extension
       point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
    <hyperlinkDetector
          activate="true"
          class="com.lambda.plugin.impex.ui.JavaElementHyperlinkDetector"
          id="com.lambda.plugin.impex.ui.JavaElementHyperlinkDetector"
          name="%JavaElementHyperlinkDetector"
          targetId="com.lambda.plugin.impex.ui.impexCode">
    </hyperlinkDetector>
 </extension>
 <extension
       point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectorTargets">
    <target
          id="com.lambda.plugin.impex.ui.impexCode"
          name="%ImpexEditorHyperlinkTarget">
       <context
             type="com.lambda.plugin.impex.editor.ImpexEditor">
       </context>
    </target>
 </extension>
 <extension
       point="org.eclipse.help.contexts">
    <contexts
          file="contexts.xml">
    </contexts>
 </extension>
 <extension
       point="org.eclipse.ui.editors.annotationTypes">
    <type
          name="com.lambda.plugin.impex.fieldOccurrences">
    </type>
 </extension>
 <extension
       point="org.eclipse.ui.editors.markerAnnotationSpecification">
    <specification
          annotationType="com.lambda.plugin.impex.fieldOccurrences"
          colorPreferenceKey="fieldOccurrenceIndicationColor"
          colorPreferenceValue="232,242,254"
          contributesToHeader="false"
          highlightPreferenceKey="fieldOccurrenceIndicationHighlight"
          highlightPreferenceValue="true"
          includeOnPreferencePage="true"
          label="Impex Field Occurrences"
          overviewRulerPreferenceKey="fieldOccurrenceIndicationOverviewRuler"
          overviewRulerPreferenceValue="false"
          presentationLayer="2"
          textPreferenceKey="fieldOccurrenceIndicationText"
          textPreferenceValue="false"
          textStylePreferenceKey="fieldOccurrenceIndicationTextStyle"
          textStylePreferenceValue="NONE"
          verticalRulerPreferenceKey="fieldOccurrenceIndicationVerticalRuler"
          verticalRulerPreferenceValue="false">
    </specification>
 </extension>
</plugin>
