<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="com.lambda.ynature"
         name="%extension.name"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.lambda.plugin.YNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="com.lambda.plugin.importWizard"
            name="%category.name">
      </category>
      <wizard
            category="com.lambda.plugin.importWizard"
            class="com.lambda.plugin.wizards.ecommerce.ImportPlatformWizard"
            icon="icons/obj16/hybris.png"
            id="com.lambda.plugin.wizards.ecommerce.ImportPlatformWizard"
            name="%wizard.name">
         <description>
            %wizard.description
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="com.lambda.plugin.project.menu"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="com.lambda.plugin.actions.YActionsMenu"
               icon="icons/kizoom.png"
               id="com.lambda.plugin.project.menu"
               label="%action.label"
               menubarPath="additions"
               style="pulldown">
         </action>
         <visibility>
            <and>
               <objectState
                     name="open"
                     value="true">
               </objectState>
               <objectClass
                     name="org.eclipse.core.resources.IProject">
               </objectClass>
            </and>
         </visibility>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="com.lambda.plugin.wizard"
            name="%category.name.1">
      </category>
      <wizard
            category="com.lambda.plugin.wizard"
            class="com.lambda.plugin.wizards.ecommerce.NewExtensionWizard"
            hasPages="true"
            icon="icons/etool16/newfunctest_wiz.png"
            id="com.lambda.plugin.wizards.ecommerce.NewExtensionWizard"
            name="%wizard.name.0"
            project="true">
         <description>
            %wizard.description.0
         </description>
      </wizard>
      <wizard
            category="com.lambda.plugin.wizard"
            class="com.lambda.plugin.wizards.ecommerce.NewModuleWizard"
            hasPages="true"
            icon="icons/etool16/newfunctest_wiz.png"
            id="com.lambda.plugin.wizards.ecommerce.NewModuleWizard"
            name="%wizard.name.1"
            project="true">
         <description>
            %wizard.description.1
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="com.lambda.plugin.ui.ProjectLabelDecorator"
            id="com.lambda.plugin.yunit.decorator"
            label="%decorator.label"
            lightweight="true"
            state="true">
         <enablement>
            <and>
               <objectClass
                     name="org.eclipse.core.resources.IProject">
               </objectClass>
               <objectState
                     name="nature"
                     value="com.lambda.ynature">
               </objectState>
            </and>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.lambda.plugin.preferences.YPreferencePage"
            id="com.lambda.plugin.preferences.YPreferencePage"
            name="%page.name">
      </page>
   </extension>
   <extension
         id="com.lambda.plugin.preferences"
         name="%extension.name.0"
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.lambda.plugin.impex.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <!-- to support Java actions like Open Type from impex editor -->
      <extension
            point="org.eclipse.ui.bindings">
            <sequenceModifier
                  find="M1+M2"
                  platforms="cocoa,carbon"
                  replace="M2+M3">
            </sequenceModifier>
      </extension>
      <extension
            point="org.eclipse.ui.menus">
         <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
        	<menu
               id="com.lambda.plugin.menu"
               label="%menu.label"
               tooltip="%menu.tooltip">
         	</menu>
      	 </menuContribution>
      </extension>
 <!-- impex Type hyperlink detectors -->
</plugin>
